.show-password {
    position: relative;
    left: -35px;
    top: -3px;
    margin-right: -25px;
    cursor: pointer !important;
}

.icon-eye {
    width: 25px;
    height: 25px;
    background-image: url(../img/eye-close.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.icon-eye-invisible {
    width: 25px;
    height: 25px;
    background-image: url(../img/eye.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
